/* Colors
-----------------------------------
Dark Blue = #171638
Blue = #0A2856
Light orange = #EABC85
Orange = #EA8B4D
Light blue = #9EC7D6

*/

/* Font declaration
------------------------------------*/

@font-face{
	font-family: 'Proxima Nova';
	src: url(../fonts/proxima-nova.otf);
}

@font-face{
	font-family: 'Fira Sans Light';
	src: url(../fonts/fira-sans-light.otf);
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* Global Styles
-------------------------------------*/

body {
	font-family: 'Proxima Nova', sans-serif;
	margin:0;
}

h1{	
	font-size: 130px;
	text-align: left;
	letter-spacing: 5px;
}

h2{
	font-family: 'Proxima Nova', sans-serif;
	font-style: italic;
	color: white;
	font-size: 75px;
	text-decoration: overline;
	margin-top: 0;
}

h3{
	font-family: 'Proxima Nova', sans-serif;
	font-size: 50px;
	font-weight: 700;
	margin-bottom: 0;
	margin-top: 120px;

}

h4{
	font-family: 'Proxima Nova', sans-serif;
	font-size:25px;
	font-weight: 600;
	margin-bottom: 0;
	margin-top: 12px;
}

h2 + h3{
	margin:0;
}

a {
	color: #EABC85;
}

a:hover{
	text-decoration: none;
}

ul li{
	list-style: circle;
}

ul li:nth-child(2n+2){
	color:#0A2856;
	list-style: disc;
}

.content-wrap{
	max-width: 950px;
	margin: 0 auto;
	padding: 65px 50px;
	overflow: hidden;
}

.lighter{
	color:#0A2856;
	font-style: italic;
}

.btn {
	text-decoration: none;
	background: #171638;
	color: #EA8B4D;
	padding: 10px;
	display: inline-block;
}


/* Header and Footer
------------------------------------*/

/*header*/
header {
	background: #0A2856;
	color: #EA8B4D;
	font-size: 20px;
	padding-top: 50px;
	position: relative;
}

header h1, header h2 {
	color: white;
	font-family: 'Proxima Nova', sans-serif;
	margin: 0;
}

header h2 {
	font-weight: 500;
}

.profile-img{
	width: 300px;
	border-radius: 50%;
	padding: 5px;
	background: #EA8B4D
}

.download{
	position: absolute;
	bottom: 0;
	right: 0;
	border: ridge;
	border-color: #EA8B4D;
	border-bottom: none;
}

/*footer*/

footer {
	background: #171638;
	color: #EA8B4D;
	text-align: center;
}

footer h2 {
	margin:0;
	color: #EA8B4D;
}

.contact-info a{
	font-family: 'Fira Sans Light', sans-serif;
	padding:15px;
	display: inline-block;
}


/* Navigation
----------------------------------*/
nav{
	text-align: center;
	background: #171638;
	position: fixed;
	top: 0;
	width: 100%;
	outline-style: ridge;
	outline-color: #EA8B4D;
}
nav a{
	display: inline-block;
	padding: 20px 80px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
}


/* Experience
-----------------------------------*/

.experience{
	background: #EA8B4D;
	color: #171638;
	font-family: 'Fira Sans Light', sans-serif;
}

h3 ~ h4 {
	margin: 0;
}



/* Education
------------------------------------*/

.education {
	background: #EABC85;
	color: #171638;
	font-family: 'Fira Sans Light', sans-serif;
}




.description{
	line-height: 1.3;
	font-size: 24px;
}